{% extends "partials/base.html.twig" %}

{% block content %}

  <div class="pure-g header">
    <div class="pure-u-1-1">
      <h1>404 Not Found!</h1>
    </div>
  </div>

  <div class="pure-g single-product">
    <div class="pure-u-1-1">
      <p>The page requested does not exist!</p>
      <a href="#" v-on:click="handleLink('goBack')">Go to home.</a>
    </div>
  </div>

{% endblock %}
