{% extends "partials/base.html.twig" %}

{% block content %}

  <div class="pure-g header">
    <div class="pure-u-1-1">
      <h1>Inserir Novo Produto!</h1>
    </div>
  </div>

  <div class="pure-g">
    <product-component action="create" v-on:new-message="handleMessages" v-bind:types="{{ types|json_encode }}"></product-component>
  </div>

{% endblock %}
