{% extends "partials/base.html.twig" %}

{% block content %}

  <div class="pure-g header">
    <div class="pure-u-1-1">
      {% verbatim %}
        <h1 v-if="total === 1">Foi encontrado {{ numberOfProducts }} Produto!</h1>
        <h1 v-if="total > 1">Foram encontrados {{ numberOfProducts }} Produtos!</h1>
        <h1 v-if="total === 0">Não existem produtos!</h1>
      {% endverbatim %}
    </div>
  </div>

  {% if products.payload|length > 0 %}
    <div class="pure-g products-container">
      <div class="pure-u-1-1 filter-container">
        <filter-component v-bind:loaded="loadedProducts"
                          v-on:update-modal="handleModal"
                          v-bind:modal="modal.showModal"
                          v-bind:products="{{ products.payload }}">
        </filter-component>
      </div>
      {% for product in products.payload %}
        <product-component v-bind:product="{{ product }}"
                           v-on:new-message="handleMessages"
                           action="display"
                           v-bind:types="{{ types|json_encode }}">
        </product-component>
      {% endfor %}
      <product-component v-if="loadedProducts.length > 0"
                         v-bind:product="product"
                         v-on:new-message="handleMessages"
                         action="display"
                         v-for="product in loadedProducts"
                         v-bind:types="{{ types|json_encode }}"
                         >
      </product-component>
      <button class="load-more-button" v-if="!allLoaded" v-on:click="loadMore()">Mais Produtos!
        <span class="loader-container">
          <i class="fa fa-cog fa-spin" v-show="loading"></i>
        </span>
      </button>
    </div>
  {% endif %}



{% endblock %}
