{% extends "partials/base.html.twig" %}

{% block content %}

  <div class="pure-g header">
    <div class="pure-u-1-1">
      <h1>Procurar Produtos!</h1>
    </div>
  </div>

  <div class="pure-g">
    <search-component v-bind:types="{{ types|json_encode }}" v-on:new-message="handleMessages"></search-component>
  </div>

{% endblock %}
