{% extends "partials/base.html.twig" %}

{% block content %}

  <div class="pure-g header">
    <div class="pure-u-1-1">
      <h1>Produto - {{ stringy.create(products[0].name).htmlDecode() }}</h1>
    </div>
  </div>

  <div class="pure-g single-product">
    <div class="pure-u-1-1">
      <product-component v-bind:product="{{ products[0] }}"
                         v-bind:batch="{{ products|json_encode }}"
                         action="display"
                         mode="single"
                         v-on:new-message="handleMessages"
                         v-on:update-modal="handleModal"
                         v-bind:types="{{ types|json_encode }}">
      </product-component>
      <div class="pure-u-3-4">
        <stats-component v-bind:batch="{{ products|json_encode }}" v-bind:is-global="false"></stats-component>
      </div>
    </div>
  </div>

{% endblock %}
