{% extends "partials/base.html.twig" %}

{% block content %}

  <div class="pure-g header">
    <div class="pure-u-1-1">
      <h1>Estatísticas!</h1>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-1">
      <stats-component v-bind:batch="{{ products|json_encode }}" v-bind:is-global="true"></stats-component>
    </div>
  </div>

  </div>

{% endblock %}
