html,
body
{
  height: 100vh;
}

body
{
  position: relative;
}

[v-cloak] {
  display: none;
}

.loading-screen
{
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: -1;
  transform: translate(-30px, 0);

  i
  {
    font-size: 3em;
    color: brown;
  }

}

// Pure.io overrides and clearfix
.pure-u-1-4,
{
  float: left !important;
  &:after
  {
    content: "";
    display: table;
    clear: both;
  }
}

.container
{
  width: 80%;
  margin: 0 auto;
  background: silver;
  min-height: 100vh;
  z-index: 1;
  box-shadow: 0 0 260px 4px #444;

  .clear
  {
    clear: both;
  }

  button
  {
    &:focus { border: none; outline: none;}
  }

  a
  {
    text-decoration: none;
  }

  p, a, span, small, input, button, li
  {
    .abel();
  }

  h1, h2, h3, h4, h5
  {
    .anton();
  }

  @media screen and (max-width: 768px)
  {
    width: 100%;
  }

  .main-header
  {
    background: #222;
    text-align: center;
    padding: 10px;

    a
    {
      color: white;
      text-decoration: none;
      &:focus { outline: none; }
      &:hover {
        cursor: pointer;
        i { font-size: 1.3em; color: lighten(red, 10%); }
      }

      h1,
      i
      {
        vertical-align: middle;
      }

      i
      {
        font-size: 1em;
        color: @red;
        transition: all 200ms ease-in-out;
      }

    }

  }

  .navbar-container
  {
    background: #332548;

    ul
    {
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding-left: 0;

      a
      {
        display: inline-block;
        transition: all 300ms ease-in-out;
        margin: 0;
        padding: 20px 40px;
        font-size: 1.1em;
        font-weight: bold;
        color: #ff8600;
        &:focus { outline: none; }
        &:hover { background: #ff8600; color: #332548; cursor: pointer; }
      }

      .active
      {
        background: #ff8600;
        color: #332548;
      }

    }
  }

  .welcome
  {
    margin-top: 40px;

    .main-button-container
    {

      .wrapper
      {
        width: 300px;
        margin: 0 auto;
        text-align: center;
      }

      .main-button
      {
        width: 300px;
        height: 300px;
        background: @blue;
        border: none;
        font-size: 4em;
        color: white;
        .anton();
        border-bottom: 10px solid darken(@blue, 5%);
        margin-bottom: 20px;
      }

      .secondary-button-containers
      {
        text-align: right;

        .secondary-button
        {
          background: @red;
          border: none;
          width: 125px;
          margin-bottom: 10px;
          padding: 10px;
          color: white;
          border-bottom: 5px solid darken(@red, 10%);
        }
      }

    }
  }

  .app-description
  {
    padding: 0;
    margin:0;
  }

  .header
  {
    text-align: center;
    background: @purple2;
    color: @orange;
  }

}
