.modal-container
{
  position: fixed;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: @blue;

  .close-modal-button
  {
    float: right;
    margin: 20px 20px 0 0;
    font-size: 2em;
    color: darken(@blue, 15%);
    cursor: pointer;
  }

  .modal-title
  {
    text-align: center;

    h1
    {
      color: white;
    }

  }

}
