.notes-container
{
  background: @yellow;
  width: 75%;
  min-height: 430px;
  padding: 20px;
  border-bottom: 10px solid darken(@yellow, 15%);

  .input-container
  {
    margin: 0;
    padding: 0;

    input
    {
      border: none;
      color: @black;
      font-size: 1.2em;
      font-weight: bold;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px dashed darken(@yellow, 15%);
      background: @yellow;
      &::placeholder { color: darken(@yellow, 25%); font-weight: bold; }
      &:focus { outline: none; }
    }

  }

  .list-container
  {
    ul
    {
      list-style-type: decimal;
      padding-left: 20px;

      li
      {
        color: @brown;
        font-weight: bold;
        font-style: italic;
        position: relative;
        border-bottom: 1px solid darken(@yellow, 10%);

        i
        {
          position: absolute;
          top: 0;
          right: 0;
          color: @red;
          &:hover { cursor: pointer; }
        }

      }

    }
  }

}
