.products-container
{
  padding-bottom: 20px;
  position: relative;
  padding-bottom: 100px;

  .load-more-button
  {
    position: absolute;
    border: none;
    background: @orange;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);

    span
    {
      float: right;

      i
      {
        margin: 0;
        padding: 0;
        margin-left: 10px;
        font-size: 1.1em;
        color: darken(@orange, 20%);
      }
    }

  }

}

.filter-container
{
  padding-top: 20px;
  text-align: center;

  input
  {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: @blue;
    transition: all 150ms linear;
    &:focus { outline: none; box-shadow: 0px 0px 20px @blue; }
  }

  .filter-error
  {
    margin-top: 20px;
    color: @red;
    font-style: italic;
    font-weight: bold;
    display: block;
  }

}

.show-all-products-button
{
  margin-top: 35px;
  border: none;
  border-bottom: 5px solid darken(@black, 10%) !important;
  color: #fff;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  font-size: 1.5em;
  font-weight: 700;
  background: @black;

  i
  {
    display: block;
    margin-top: 10px;
  }

}

.add-product-container
{
  form
  {
    width: 80%;
    margin: 20px auto;

    .form-errors
    {
      margin-top: -5px;
      padding-left: 10px;
      margin-bottom: 25px;

      small
      {
        color: @red;
        font-weight: bold;
        font-style: italic;
      }

    }

    input,
    select,
    {
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      color: darken(@blue, 15%);
      transition: all 150ms linear;
      &:focus { outline: none; box-shadow: 0px 0px 20px @blue; }
    }

    select
    {
      width: 103%;
    }

    .button-group
    {
      text-align: center;
      margin-bottom: 10px;

      button[type=submit]
      {
        background: @green;
        color: white;
        border: none;
        padding: 5px 10px;
        font-weight: bold;
      }

      button[type=reset]
      {
        background: @red;
        color: white;
        border: none;
        padding: 5px 10px;
        font-weight: bold;
      }

    }

  }
}

.product
{
  margin-top: 25px;
  width: 100%;
  overflow: hidden;

  .editing-container
  {
    border-top: 1px solid darken(@yellow, 10%);

    .edit-input-error
    {
      width: 85%;
      margin: 10px auto;

      small
      {
        color: @red;
        font-style: italic;
        font-weight: bold;
      }

    }

    h3
    {
      color: darken(@yellow, 25%);

      button
      {
        border: 0;
        background: transparent;
        font-size: 1.1em;
      }
    }

    form
    {
      input,
      select
      {
        width: 85%;
        margin-bottom: 10px;
        padding: 5px;
        border: none;
        float: left;
        margin-left: 10px;
      }

      button[type=submit]
      {
        background: @blue;
        color: white;
        border: none;
        padding: 5px 10px;
        font-weight: bold;
        width: 90%;
      }

    }

  }

  .product-element
  {
    background: @yellow;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    border-bottom: 10px solid darken(@yellow, 10%);
    border-right: 12px solid darken(@yellow, 15%);

    a
    {
      h2
      {
        color: @black;
      }

      p
      {
        font-weight: bold;
        color: darken(@yellow, 35%);
      }

      h1
      {
        background: @orange;
        color: @purple;
      }

      small
      {
        color: @brown;
        font-style: italic;
        font-weight: bold;
      }

    }

    .button-group
    {
      margin: 15px 0;

      .edit
      {
        background: @green;
        padding: 5px 15px;
        font-weight: bold;
        color: white;
        border: none;
      }

      .delete
      {
        background: @red;
        padding: 5px 15px;
        font-weight: bold;
        color: white;
        border: none;
      }

    }

  }

}

.single-product
{
  text-align: center;
  padding-bottom: 20px;
}
