.search
{
  padding: 20px 0;

  .search-input-container
  {
    text-align: center;
    margin-top: 10px;

    .types-list
    {
      width: 55%;
      margin: 20px auto;
      background: darken(silver, 10%);
      border-bottom: 5px solid darken(silver, 25%);
      border-radius: 10px;

      .close
      {
        width: 95%;
        margin: 0 auto;
        padding: 5px;
        text-align: right;

        i
        {
          color: darken(silver, 40%);
          &:hover { cursor: pointer; }
        }

      }

      button
      {
        border: none;
        outline: none;
        margin: 10px;
        display: inline-block;
        background: @green;
        padding: 5px 15px;
        color: white;
        border-radius: 5px;
        transition: all 300ms ease-in-out;
        &:hover { cursor: pointer; background: darken(@green, 10%); }
      }

    }

    input
    {
      padding: 10px;
      width: 80%;
      border-radius: 5px;
      border: none;
      color: darken(@blue, 15%);
      transition: all 150ms linear;
      &:focus { outline: none; box-shadow: 0px 0px 20px @blue; }
    }

    .quick-search-options
    {
      list-style-type: none;
      padding: 0;
      margin: 10px auto 0 auto;

      li
      {
        display: inline-block;
        margin-right: 20px;
        font-size: .8em;
        font-style: italic;
        background: @black;
        padding: 4px 8px;
        color: white;
        border-radius: 5px;
        transition: all 300ms ease-in-out;
        &:hover { cursor: pointer; box-shadow: 0px 0px 20px @black; }
        &:last-child { margin-right: 0 !important; }
      }

    }

  }

  .search-results-container
  {
    .loading-icon
    {
      text-align: center;
      margin-bottom: 0;

      i
      {
        font-size: 1.3em;
        color: @black;
      }

    }

    .has-results
    {
      text-align: center;
      color: @green;
      font-style: italic;
      margin: 20px 0 0 0;
    }

    .no-results
    {
      text-align: center;
      color: @red;
      font-style: italic;
      margin: 20px 0 0 0;
    }
  }

}
