.stats-container
{
  width: 90%;
  margin: 25px auto;

  .stats-global
  {
    .stats-menu
    {
      ul
      {
        padding: 0;
        list-style-type: none;
        text-align: center;

        .active
        {
          color: darken(steelblue, 10%);
          background: white;
          border-bottom: 5px solid darken(white, 15%);
        }

        li
        {
          color: white;
          background: steelblue;
          padding: 10px 30px;
          font-weight: bold;
          display: inline-block;
          margin-right: -5px;
          border-bottom: 5px solid darken(steelblue, 5%);
          transition: all 300ms ease-in-out;
          &:last-child { margin-right: 0 !important; }
          &:hover { cursor: pointer; }
        }

        .years
        {
          padding: 10px 35px;
        }

      }

    }

    .stats-results
    {
      text-align: center;

      ul
      {
        padding: 0;
        text-align: center;
        list-style-type: none;
      }

      .table-container
      {
        .total
        {
          background: @black;
        }

        table
        {
          margin: 20px auto;
          background: white;

          thead
          {
            text-align: center;
            background: @orange;
            color: white;
            font-style: italic;
          }

          tbody
          {
            color: @black;
            font-weight: bold;
          }

        }
      }

      .pure-menu-list
      {
        margin-left: -20px;

        .pure-menu-link
        {
          color: white;
          font-weight: bold;
          background: steelblue;
          &:hover { background: steelblue; }
        }

        .item
        {
          background: @black;

          a
          {
            background: @black;
            color: white;
            &:hover { background: @black !important; }
            font-style: italic;
          }
        }

        .pure-menu-item
        {
          width: 120px;
        }
      }

      .header
      {
        background: silver;
        margin: 0 10px;
        display: inline-block;

        .wrapper
        {
          background: @green;
          padding: 5px 20px;
        }

        h3, p
        {
          margin: 0;
        }

        h3
        {
          color: darken(@green, 10%);
          text-decoration: underline;
        }

        p
        {
          color: white;
          font-style: italic;
        }

      }
    }

  }

  .chart-container
  {
    width: 100%;
  }

  // Highcharts override
  #chart-container
  {
    overflow: hidden;
  }

  .total-spent
  {
    padding: 10px;
    background: darkseagreen;
    border-bottom: 10px solid darken(darkseagreen, 10%);

    p
    {
      color: white;
      font-size: 1.2em;

      .amount
      {
        text-decoration: underline;
        color: white;
      }

      span
      {
        color: #2c4d50;
        font-weight: bold;
      }

    }

  }

}
