<!doctype html>
<html class="no-js" lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/default.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/main.css">

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="loading-screen">
          <i class="fa fa-cog fa-spin"></i>
        </div>

        <div class="container animated fadeInDown" id="app" v-cloak>
          {{ include("partials/header.html.twig") }}
          {% block content %}
          {% endblock %}
          <modal-component v-on:change-modal="handleModal"
                           v-if="modal.showModal"
                           v-on:new-message="handleMessages"
                           v-bind:elements="modal.elements"
                           v-bind:types="types"
                           @close="modal.showModal = false">
          </modal-component>
        </div>

        <!-- Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vue-resource@1.0.3/dist/vue-resource.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/jprichardson/string.js/master/dist/string.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.8.0/alertify.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.5/highcharts.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>

        <!-- Components -->
        {{ include("/components/Product.html") }}
        {{ include("/components/Stats.html") }}
        {{ include("/components/Modal.html") }}
        {{ include("/components/Navbar.html") }}
        {{ include("/components/Filter.html") }}
        {{ include("/components/Search.html") }}
        {{ include("/components/Notes.html") }}
        <!-- End of Components -->

        <script type="text/javascript" src="/js/main.js"></script>
        <!-- End of Scripts -->

    </body>
</html>
