<div class="pure-g">
  <div class="pure-u-1-1 main-header">
    <a href="/">
      <h1><i class="fa fa-database"></i> Monthly!</h1>
    </a>
  </div>
</div>
<div class="pure-g">
  <navbar-component v-bind:link="navbar.active" v-on:handle-link="handleLink"></navbar-component>
</div>
