{% verbatim %}

  <template id="filter">
    <div>
      <div class="pure-u-1-1">
        <input type="text" placeholder="Filtrar produtos..."
                           v-on:keyup="filter($event)"
                           v-on:keypress.enter="filter($event)"
                           v-bind:disabled="modal">
                           
        <small v-show="filterError" class="filter-error"><i class="fa fa-info-circle"></i> Nenhum produto encontrado!</small>
      </div>
    </div>
  </template>

  <script type="text/javascript">

    Vue.component("filter-component", {
      template: "#filter",
      props: {
        loaded: {
          type: Array
        },
        products: {
          type: Array
        },
        modal: {
          type: Boolean
        }
      },
      data: function() {
        return {
          filterError: false
        };
      },
      methods: {
        filter: function(e) {

          this.filterError = false;

          var value = e.target.value;
          var key = e.keyCode;

          // Start filtering only if the user has typed at least 5 letters
          // Or Pressed Enter and the value has at least 1 letter
          if(value.length >= 5 || key === 13 && value.length > 0) {

            // Merge products with loaded
            var totalProducts = this.products.concat(this.loaded);

            var filtered = totalProducts.filter(function(element) {
              return element.name.trim().toLowerCase().match(value) ||
                     element.user.trim().toLowerCase().match(value) ||
                     element.section.trim().toLowerCase().match(value);
            });

            if(filtered.length > 0) {

              // Only show modal if the filtered array has results
              return this.$emit("update-modal", filtered);

            }

            return this.filterError = true;

          }

        }
      }
    });

  </script>

{% endverbatim %}
