{% verbatim %}

  <template id="modal">
    <div>
      <div class="modal-container" v-on:click="$emit('close')">
        <i class="close-modal-button fa fa-times-circle-o" v-on:click="$emit('close')"></i>
        <div class="clear"></div>
        <div class="pure-g">
          <div class="pure-u-1-1 modal-title">
            <h1>Existem {{ elements.length }} produtos.</h1>
          </div>
        </div>
        <div class="pure-g">
          <product-component v-for="product in elements"
                             v-bind:product="product"
                             v-bind:batch="elements"
                             action="display"
                             v-on:new-message="handleMessages"
                             v-bind:types="types">
          </product-component>
        </div>
      </div>
    </div>
  </template>

  <script type="text/javascript">

    Vue.component("modal-component", {
      template: "#modal",
      props: {
        elements: {
          type: Array
        },
        types: {
          type: Array
        }
      },
      data: function() {
        return { message: "From Modal!" }
      },
      methods: {
        handleMessages: function(type, message) {

          // Emit a new message to parent
          this.$emit("new-message", type, message);

        }
      }
    });

  </script>

{% endverbatim %}
