{% verbatim %}

  <template id="navbar">
    <div class="pure-u-1-1 navbar-container">
      <ul>
        <a href="#" v-bind:class="{ 'active': link === 'welcome' }" v-on:click="sendLink('welcome')">
          <li><i class="fa fa-home"></i> Inicio</li>
        </a>
        <a href="#" v-bind:class="{ 'active': link === 'products/all' }" v-on:click="sendLink('products/all')">
          <li><i class="fa fa-database"></i> Todos</li>
        </a>
        <a href="#" v-bind:class="{ 'active': link === 'products/search' }" v-on:click="sendLink('products/search')">
          <li><i class="fa fa-search"></i> Procurar</li>
        </a>
        <a href="#" v-bind:class="{ 'active': link === 'statistics' }" v-on:click="sendLink('statistics')">
          <li><i class="fa fa-line-chart"></i> Estatísticas</li>
        </a>
        <a href="#" v-bind:class="{ 'active': link === 'products/new' }" v-on:click="sendLink('products/new')">
          <li><i class="fa fa-plus-circle"></i> Novo</li>
        </a>
      </ul>
    </div>
  </template>

  <script type="text/javascript">

    Vue.component("navbar-component", {
      template: "#navbar",
      props: {
        link: {
          type: String
        }
      },
      methods: {
        sendLink: function(link) {
          this.$emit("handle-link", link);
        }
      }
    });

  </script>

{% endverbatim %}
