{% verbatim %}

  <template id="notes">
    <div class="notes-container">
      <div class="input-container">
        <input type="text" placeholder="&#9776; Adicionar Nota" v-on:keyup.enter="addNote($event.target.value)">
      </div>
      <div class="list-container">
        <ul v-if="notes.length > 0">
          <li v-for="(note, index) in notes">
            <p>{{ note }}</p>
            <i class="fa fa-times" v-on:click="deleteNote(index)"></i>
          </li>
        </ul>
      </div>
    </div>
  </template>

  <script type="text/javascript">

    Vue.component("notes-component", {
      template: "#notes",
      created: function() {

        var storedNotes = localStorage.getItem("notes");

        if(storedNotes !== null && storedNotes.length > 0) {
          this.notes = localStorage.getItem("notes").split(",");
        }

      },
      data: function() {
        return {
          notes: []
        };
      },
      methods: {
        addNote: function(note) {

          if(note.length > 0) {
            this.notes.push(note);
            localStorage.setItem("notes", this.notes);
          }

          return true;

        },
        deleteNote: function(index) {

          this.notes.splice(index, 1);

          localStorage.setItem("notes", this.notes);

          return true;

        }
      }
    });

  </script>

{% endverbatim %}
