{% verbatim %}

  <template id="product">
    <div v-if="active" v-bind:class=" {'pure-u-1-4': isDisplaying, 'pure-u-1-1': isAdding} ">
      <div class="product" v-if="isDisplaying && product">
        <div class="product-element">
          <a v-bind:href="fullUrl(product.slug)">
            <h2>{{ product.name | decodeHtmlEntities }}</h2>
            <p>{{ product.section }}</p>
            <h1><i class="fa fa-eur"></i> {{ product.price }}</h1>
            <small>{{ product.user | decodeHtmlEntities }} - </small><small>{{ product.created_at | readableDate }}</small>
          </a>
          <div class="button-group">
            <button v-on:click="editing()"class="edit">Editar!</button>
            <button v-bind:disabled="isLoading" v-on:click="deleteProduct(product.id, $event)" class="delete">Eliminar!</button>
          </div>
          <div v-if="isEditing" class="editing-container">
            <h3>Editar Produto <button v-on:click="isEditing = false"><i class="fa fa-times-circle-o"></i></button></h3>
            <form v-on:submit.prevent="updateProduct(product.id, $event.srcElement.elements)">
              <input type="text" name="user" placeholder="Utilizador" v-model="product.user">
              <div class="edit-input-error">
                <small v-if="errors && errors.user"><i class="fa fa-warning"></i> {{ errors.user[0] }}</small>
              </div>
              <input type="text" name="name" placeholder="Nome do produto | decodeHtmlEntities" v-model="product.name">
              <div class="edit-input-error">
                <small v-if="errors && errors.name"><i class="fa fa-warning"></i> {{ errors.name[0] }}</small>
              </div>
              <select name="type" v-if="types.length > 0">
                <option value="">Tipo de Produto</option>
                <option v-for="type in types" v-bind:value="type.value">{{ type.name }}</option>
              </select>
              <input type="text" name="price" placeholder="Preço" v-model="product.price">
              <div class="edit-input-error">
                <small v-if="errors && errors.price"><i class="fa fa-warning"></i> {{ errors.price[0] }}</small>
              </div>
              <div>
                <button type="submit" v-bind:disabled="isLoading">Guardar!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div v-if="isAdding" class="add-product-container">
        <form v-on:submit.prevent="addProduct($event.srcElement.elements)">
          <input type="text" name="user" placeholder="Utilizador">
          <div class="form-errors">
            <small class="animated fadeInDown" v-if="errors && errors.user"><i class="fa fa-warning"></i> {{ errors.user[0] }}</small>
          </div>
          <input type="text" name="name" placeholder="Nome do produto">
          <div class="form-errors">
            <small class="animated fadeInDown" v-if="errors && errors.name"><i class="fa fa-warning"></i> {{ errors.name[0] }}</small>
          </div>
          <select name="type" v-if="types.length > 0">
            <option value="">Tipo de Produto</option>
            <option v-for="type in types" v-bind:value="type.value">{{ type.name }}</option>
          </select>
          <div class="form-errors">
            <small class="animated fadeInDown" v-if="errors && errors.type"><i class="fa fa-warning"></i> {{ errors.type[0] }}</small>
          </div>
          <input type="text" name="price" placeholder="Preço">
          <div class="form-errors">
            <small class="animated fadeInDown" v-if="errors && errors.price"><i class="fa fa-warning"></i> {{ errors.price[0] }}</small>
          </div>
          <div class="button-group">
            <button type="submit" v-bind:disabled="isLoading">Guardar!</button>
            <button type="reset">Apagar!</button>
          </div>
        </form>
      </div>
      <div v-if="isSingle">
        <button v-on:click="updateModal()" class="show-all-products-button animated fadeInRight">Todos <i class="fa fa-plus-square"></i></button>
      </div>
    </div>
  </template>

  <script type="text/javascript">
    Vue.component("product-component", {
      template: "#product",
      props: {
        product: {
          type: Object
        },
        action: {
          type: String
        },
        types: {
          type: Array
        },
        mode: {
          type: String
        },
        batch: {
          type: Array
        }
      },
      created: function() {

        if(this.action === "display") {

          this.isDisplaying = true;

          if(this.mode === "single") {
            this.isSingle = true;
          }

        }

        if(this.action === "create") {
          this.isAdding = true;
        }

      },
      filters: {
        decodeHtmlEntities: function(string) {
          return S(string).decodeHtmlEntities().toString();
        },
        readableDate: function(date) {
          return moment(date).fromNow();
        }
      },
      data: function() {
        return {
          isEditing: false,
          isDeleting: false,
          isLoading: false,
          errors: null,
          isAdding: false,
          isDisplaying: false,
          active: true,
          isSingle: false,
          confirmed: {
            rounds: 0
          }
        };
      },
      computed: {
        csrf: function() {
          return {
            csrf_name: "",
            csrf_value: ""
          };
        }
      },
      methods: {
        fullUrl: function(slug) {
          return "/products/product/" + slug;
        },
        updateModal: function() {

          // Gets the CSRF token and updates elements on parent
          this.$http.get("/products/api/token").then(function success(response) {

            var data = {
              csrf_name: response.data.token.name,
              csrf_value: response.data.token.value,
              slug: this.product.slug
            };

            this.$http.post("/products/api/allBySlug", data).then(function(response) {
              this.$emit("update-modal", response.data);
            });

          });

        },
        newMessage: function(message, type) {
          this.$emit("new-message", message, type);
        },
        editing: function() {

          // Set editing to true
          this.isEditing = true;

          // Clear errors if present
          this.errors = null;

        },
        updateProduct: function(id, e) {

          // Set isLoading to true
          this.isLoading = true;

          // Get current CSRF token for the post request
          this.$http.get("/products/api/token").then(function success(response) {

            // Stop isLoading
            this.isLoading = false;

            this.csrf.csrf_name = response.data.token.name;
            this.csrf.csrf_value = response.data.token.value;

            // Collect the form data
            var data = {
              user: e[0].value,
              name: e[1].value,
              type: e[2].value,
              price: e[3].value,
              csrf_name: this.csrf.csrf_name,
              csrf_value: this.csrf.csrf_value
            }

            // Send data to server
            this.$http.post("/products/product/edit/" + id, data).then(function success(response) {

              if(response.data.error) {

                // Emit a new message to parent
                this.newMessage("Erro!", "error");

                this.errors = response.data.errorsMessageBag;

              }

              if(response.data.success) {

                this.errors = null;

                // Emit a new message to parent
                this.newMessage(response.data.message, "success");

              }

            }, function error(response) {
              console.log(response);
            });

          }, function error(response) {
            console.log(response);
          });

        },
        addProduct: function(e) {

          // Set isLoading to true
          this.isLoading = true;

          // Get current CSRF token for the post request
          this.$http.get("/products/api/token").then(function success(response) {

            // Stop isLoading
            this.isLoading = false;

            this.csrf.csrf_name = response.data.token.name;
            this.csrf.csrf_value = response.data.token.value;

            // Collect the form data
            var data = {
              user: e[0].value,
              name: e[1].value,
              type: e[2].value,
              price: e[3].value,
              csrf_name: this.csrf.csrf_name,
              csrf_value: this.csrf.csrf_value
            }

            // Send data to server
            this.$http.post("/products/new", data).then(function success(response) {

              if(response.data.error) {

                // Emit a new message to parent
                this.newMessage("Erro!", "error");

                this.errors = response.data.errorsMessageBag;

              }

              if(response.data.success) {

                this.errors = null;

                // Emit a new message to parent
                this.newMessage(response.data.message, "success");

              }

            }, function error(response) {
              console.log(response);
            });

          }, function error(response) {
            console.log(response);
          });

        },
        deleteProduct: function(id, e) {

          // Protect the mistaken deleted product - Prompt user for confirmation
          var buttonName = e.target;

          if(this.confirmed.rounds === 0) {
            this.confirmed.rounds += 1
            return buttonName.innerText = "Confirmar?";
          }

          // Get current CSRF token for the post request
          this.$http.get("/products/api/token").then(function success(response) {

            // Stop isLoading
            this.isLoading = false;

            this.csrf.csrf_name = response.data.token.name;
            this.csrf.csrf_value = response.data.token.value;

            // Collect the form data
            var data = {
              csrf_name: this.csrf.csrf_name,
              csrf_value: this.csrf.csrf_value
            }

            // Send data to server
            this.$http.post("/products/product/delete/" + id, data).then(function success(response) {

              if(response.data.error) {

                // Emit a new message to parent
                this.newMessage("Erro!", "error");

              }

              if(response.data.success) {

                // Remove product from DOM
                this.active = false;

                // Emit a new message to parent
                this.newMessage(response.data.message, "success");

              }

            }, function error(response) {
              console.log(response);
            });

          }, function error(response) {
            console.log(response);
          });

        }
      }
    });
  </script>

{% endverbatim %}
