{% verbatim %}

  <template id="search">
    <div class="pure-u-1-1 search">
      <div class="pure-u-1-1 search-input-container">
        <input type="text" placeholder="Procurar..." v-on:keyup.enter="search($event.target.value, 'normal')">
        <ul class="quick-search-options">
          <li v-on:click="search('query', 'costier')">Ver o mais caro <i class="fa fa-caret-up"></i></li>
          <li v-on:click="search('query', 'cheapest')">Ver o mais barato <i class="fa fa-caret-down"></i></li>
          <li v-on:click="search('query', 'latest')">Ver o mais recente <i class="fa fa-clock-o"></i></li>
          <li v-on:click="showTypes = !showTypes">Ver por tipo <i class="fa fa-th-list"></i></li>
        </ul>
        <div class="types-list animated fadeInUp pure-u-1-1" v-show="showTypes">
          <div>
            <button v-for="type in types" v-bind:value="type.value" v-on:click="search(type.value, 'type')">{{ type.name }}</button>
          </div>
          <div class="close">
            <i class="fa fa-times-circle-o" v-on:click="showTypes = !showTypes"></i>
          </div>
        </div>
      </div>
      <div class="pure-u-1-1 search-results-container">
        <div v-if="results.length > 0">
          <p v-if="hasResults" class="has-results"><i class="fa fa-info-circle"></i> {{ singleOrMultiple }}</p>
          <product-component v-for="result in results"
                             v-bind:product="result"
                             v-on:new-message="handleMessages"
                             action="display"
                             v-bind:types="types">
          </product-component>
          <div class="clear"></div>
        </div>
        <p v-if="noResults" class="no-results"><i class="fa fa-info-circle"></i> Sem resultados!</p>
        <p class="loading-icon"><i v-show="isLoading" class="fa fa-cog fa-spin"></i></p>
      </div>
    </div>
  </template>

  <script type="text/javascript">

    Vue.component("search-component", {
      template: "#search",
      props: {
        types: {
          type: Array
        }
      },
      data: function() {
        return {
          noResults: false,
          hasResults: false,
          isLoading: false,
          results: [],
          showTypes: false
        };
      },
      computed: {
        singleOrMultiple: function() {

          if(this.results.length > 1) return "Foram encontrados " + this.results.length + " produtos!";

          if(this.results.length == 1) return "Foi encontrado " + this.results.length + " produto!";

        }
      },
      methods: {
        handleMessages: function(type, message) {

          // Emit a new message to parent
          this.$emit("new-message", type, message);

        },
        search: function(value, type) {

          console.log("Value: " + value, "Type:" + type);

          // Reset results array and noResults for every request
          this.results = [];
          this.noResults = false;
          this.hasResults = false;

          if(value.length > 0 || typeof value == "number") {

            this.isLoading = true;

            // Get CSRF token
            this.$http.get("/products/api/token").then(function success(response) {

              var data = {
                csrf_name: response.data.token.name,
                csrf_value: response.data.token.value,
                query: value,
                type: type
              };

              this.$http.post("/products/search", data).then(function success(response) {

                this.isLoading = false;

                if(response.data.specific === true) {

                  this.hasResults = true;
                  this.results.push(response.data.payload);

                  // Scroll to last loaded items
                  return $('body').scrollTo(".search-results-container", 800, {
                    easing: 'swing',
                  });
                }

                if(response.data.payload.length > 0) {

                  this.hasResults = true;
                  this.results = response.data.payload;

                  // Scroll to last loaded items
                  return $('body').scrollTo(".search-results-container", 800, {
                    easing: 'swing',
                  });
                }

                return this.noResults = true;

              }, function error(response) {
                console.log(response);
              });

            });
          }

        }
      }
    });

  </script>

{% endverbatim %}
