{% verbatim %}

  <template id="stats">
    <div class="stats-container">
      <div v-if="!isGlobal">
        <div id="chart-container"></div>
        <div class="total-spent">
          <p><span>Total:</span> € <span class="amount">{{ totalSpent | rounded }}</span></p>
        </div>
      </div>
      <div v-if="isGlobal" class="pure-g stats-global">
        <div class="pure-u-1-1 stats-menu">
          <ul>
            <li v-on:click="setActive('products')" v-bind:class="{ 'active': isProducts }"><i class="fa fa-list"></i> Produtos</li>
            <li v-on:click="setActive('years')" v-bind:class="{ 'active': isYears }" class="years"><i class="fa fa-calendar"></i> Anos</li>
            <li v-on:click="getUsers()" v-bind:class="{ 'active': isUsers }"><i class="fa fa-users"></i> Utilizadores</li>
          </ul>
        </div>
        <div class="pure-u-1-1 stats-results">
          <ul v-if="isProducts" class="table-container">
            <li>
              <table class="pure-table pure-table-bordered">
                <thead>
                  <tr>
                    <th>Total Produtos</th>
                    <th>Total Gasto (€)</th>
                    <th>O Mais Caro (€)</th>
                    <th>O Mais Barato (€)</th>
                    <th>Total Utilizadores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ totalProducts }}</td>
                    <td>{{ totalAmount }}</td>
                    <td>{{ mostExpensive }}</td>
                    <td>{{ leastExpensive }}</td>
                    <td>{{ totalUsers }}</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
          <div class="pure-menu pure-menu-horizontal" v-if="isYears">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="#" id="menuLink1" class="pure-menu-link">{{ year }}</a>
                  <ul class="pure-menu-children">
                    <li v-on:click="getYearStats(year)" class="pure-menu-item item" v-for="year in years"><a href="#" class="pure-menu-link">{{ year }}</a></li>
                  </ul>
                </li>
            </ul>
            <ul v-if="filtered.length != 0" class="table-container">
              <li>
                <table class="pure-table pure-table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th>
                      <th>Tipo</th>
                      <th>Preço (€)</th>
                      <th>Utilizador</th>
                      <th>Adicionado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(product, index) in filtered">
                      <td>{{ index }}</td>
                      <td>{{ product.name | decodeHtmlEntities }}</td>
                      <td>{{ product.section }}</td>
                      <td>{{ product.price }}</td>
                      <td>{{ product.user }}</td>
                      <td>{{ product.created_at }}</td>
                    </tr>
                    <tr>
                      <thead>
                        <tr>
                          <th>Total</th>
                          <th class="total" colspan="10">€ {{ totalFiltered }}</th>
                        </tr>
                      </thead>
                  </tbody>
                </table>
              </li>
            </ul>
          </div>
          <ul v-if="isUsers" class="table-container">
            <li>
              <table class="pure-table pure-table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Produtos Adicionados</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(result, index) in filtered">
                    <td>{{ index }}</td>
                    <td>{{ result.name }}</td>
                    <td>{{ result.amount }}</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </template>

  <script type="text/javascript">

    Vue.component("stats-component", {
      template: "#stats",
      props: {
        batch: {
          type: Array
        },
        isGlobal: {
          type: Boolean
        }
      },
      filters: {
        readableDate: function(date) {
          return moment(date).fromNow();
        },
        rounded: function(amount) {
          return amount.toFixed(2);
        },
        decodeHtmlEntities: function(string) {
          return S(string).decodeHtmlEntities().toString();
        }
      },
      data: function() {
        return {
          prices: [],
          isProducts: true,
          isYears: false,
          isUsers: false,
          year: "Escolher Ano",
          years: [],
          filtered: [],
          months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
        };
      },
      created: function() {

        var prices = this.prices;

        this.batch.forEach(function(element) {
          prices.push(element.price);
        });

        var years = this.years;

        return this.batch.forEach(function(product) {
          var year = moment(product.created_at).year();
          if(years.indexOf(year) === -1) {
            years.push(year);
          }
        });

      },
      computed: {
        totalFiltered: function() {
          if(this.filtered.length > 0) {

            var total = this.filtered.map(function(value) {
              return value.price;
            }).reduce(function(sum, amount) {
              return sum + amount;
            }, 0);
          }

          return total.toFixed(2);

        },
        totalProducts: function() {
          return this.batch.length;
        },
        totalUsers: function() {
          return _.uniqBy(this.batch, "user").length;
        },
        mostRecent: function() {

          var mostRecent = moment().format();

          this.batch.forEach(function(product) {

            if(moment(product.created_at).format() > mostRecent) {
              mostRecent = product.created_at;
            }

          });

          return mostRecent;

        },
        oldest: function() {

          var oldest = moment().format();

          this.batch.forEach(function(product) {

            if(moment(product.created_at).format() < oldest) {
              oldest = product.created_at;
            }

          });

          return oldest;

        },
        mostExpensive: function() {
          if(this.batch.length > 0) {

            var highest = 0;

            this.batch.forEach(function(product) {

              if(product.price > highest) {
                highest = product.price;
              }

            });

            return highest.toFixed(2);
          }

          return 0;
        },
        leastExpensive: function() {
          if(this.batch.length > 0) {

            var highest = this.batch[0].price;

            this.batch.forEach(function(product) {

              if(product.price < highest) {
                highest = product.price;
              }

            });

            return highest.toFixed(2);
          }

          return 0;
        },
        totalAmount: function() {

          var total = 0;

          if(this.batch.length > 0) {

            this.batch.forEach(function(product) {
              total += product.price;
            });

            return total.toFixed(2);
          }

          return 0;

        },
        totalSpent: function() {

          var total = 0;

          this.prices.forEach(function(price) {
            if(typeof price === "number") total += price;
          });

          return total;

        }
      },
      methods: {
        getAmount: function(name) {
          var filtered = this.batch.filter(function(product) {
            if(product.user === name) return true;
          });

          return filtered.length;
        },
        getUsers: function() {

          var self = this;
          var filtered = _.uniqBy(this.batch, "user");
          this.setActive("users");

          this.filtered = filtered.map(function(product) {
            return {
              name: product.user,
              amount: self.getAmount(product.user)
            };
          });

        },
        setActive: function(type) {
          if(type == "products") {
            this.isProducts = !this.isProducts;
            this.isUsers = false;
            this.isYears = false;
            this.year = "Escolher Ano";
          }

          if(type == "years") {
              this.isYears = !this.isYears;
              this.isUsers = false;
              this.isProducts = false;
              this.filtered = [];
              this.year = "Escolher Ano";
          }

          if(type == "users") {

            this.isYears = false;
            this.isProducts = false;
            this.isUsers = !this.isUsers;
            this.filtered = [];
            this.year = "Escolher Ano";
          }
        },
        getYearStats: function(year) {

          this.year = year;

          this.filtered = this.batch.filter(function(product) {

            var filteredYear = moment(product.created_at).year();

            if(year == filteredYear) return true;

          });

          // Sort By Date - Desc
          _.sortBy(this.filtered, function(value) {
            return value.created_at;
          });

        }
      },
      mounted: function() {

        if(!this.isGlobal) {
          Highcharts.chart("chart-container", {
            credits: {
              enabled: false
            },
            chart: {
              type: "line",
              height: 420
            },
            title: {
              text: "Variação do Preço",
              margin: 5,
              style: {
                "color": "#eb6841",
                "font-family": "'Anton', sans-serif",
              }
            },
            xAxis: {
              categories: this.prices.length
            },
            yAxis: {
              title: {
                text: "Valores (€)"
              }
            },
            tooltip: {
                valueDecimals: 2,
                valuePrefix: "€"
            },
            series: [ {name: "Preços", data: this.prices} ]
          });
        }

      }
    })

  </script>

{% endverbatim %}
