{% extends "partials/base.html.twig" %}

{% block content %}

  <div class="pure-g header">
    <div class="pure-u-1-1">
      <h1>Bem-vindo!!!</h1>
    </div>
  </div>

  <div class="pure-g welcome">
    <div class="pure-u-1-2 main-button-container">
      <div class="wrapper">
        <button class="main-button" v-on:click="handleLink('products/new')">Novo</button>
        <div class="secondary-button-containers">
          <button class="secondary-button" v-on:click="handleLink('products/all')">Ver Todos</button>
        </div>
        <div class="secondary-button-containers">
          <button class="secondary-button" v-on:click="handleLink('statistics')">Estatísticas</button>
        </div>
        <div class="secondary-button-containers">
          <button class="secondary-button" v-on:click="handleLink('products/search')">Pesquisar</button>
        </div>
      </div>
    </div>
    <div class="pure-u-1-2 app-description">
      <notes-component></notes-component>
    </div>
  </div>

{% endblock %}
